*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
p{
    margin: 0 !important;
}
.login__google, .login__face {
    width: 100%;
    padding: 3%;
    margin: 5% 0;
    border: none;
}
.login__google img, .login__face img{
    margin-right: 5%;
}
.form-control:focus{
    border-color: #FEA276 !important;
    box-shadow: 0 0 0 0.2rem #FEA276 !important;
}
.forgot-password{
    color: #BEBEC0;
    text-decoration: underline;
}
.submit-form{
    background-color: #FEA276;
    font-weight: bold;
    color: #fff;
    border: none;
    border-radius: 10px;
    width: 40%;
    height: 2.5rem;
}
.not--account{
    padding: 5%;
    text-align: center;
    color: #BEBEC0;
}
.signup__link{
    text-align: center;
    display: block;
    font-weight: bold;
    color: #FEA276;
}
.login__introduce{
    display: none;
}

@media screen and (min-width: 768px){
    .login__introduce{
        display: block;
    }
    .login__form{
        border: 1px solid #BEBEC0;
        padding: 5% 8% !important;
        border-right: none;
    }
    .login__introduce{
        background-color: #FEA276;
        color: #fff;
        padding: 5% 8% !important;
    }
    .logo__introduce{
        text-align: center;
        margin-bottom: 20%;
    }
    
}
